#
#    fty-kpi-power-uptime - Compute Data Center uptime
#
#    Copyright (C) 2014 - 2018 Eaton
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

Source:         fty-kpi-power-uptime
Section:        net
Priority:       optional
Maintainer:     fty-kpi-power-uptime Developers <eatonipcopensource@eaton.com>
Standards-Version: 4.0.1.0
Build-Depends: debhelper (>= 9),
    pkg-config,
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev,
    libmlm-dev,
    liblog4cplus-dev,
    libfty-common-logging-dev,
    libfty-proto-dev,
    libfty-shm-dev,
    systemd,
    dh-systemd,
    asciidoc-base | asciidoc, xmlto,
    dh-autoreconf

Package: libfty-kpi-power-uptime1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fty-kpi-power-uptime shared library
 This package contains shared library for fty-kpi-power-uptime:
 compute data center uptime

Package: libfty-kpi-power-uptime-dev
Architecture: any
Section: libdevel
Depends:
    ${misc:Depends},
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev,
    libmlm-dev,
    liblog4cplus-dev,
    libfty-common-logging-dev,
    libfty-proto-dev,
    libfty-shm-dev,
    libfty-kpi-power-uptime1 (= ${binary:Version})
Description: fty-kpi-power-uptime development tools
 This package contains development files for fty-kpi-power-uptime:
 compute data center uptime

Package: fty-kpi-power-uptime
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: runnable binaries from fty-kpi-power-uptime
 Main package for fty-kpi-power-uptime:
 compute data center uptime

Package: fty-kpi-power-uptime-dbg
Architecture: any
Section: debug
Priority: optional
Depends:
    fty-kpi-power-uptime (= ${binary:Version}),
    ${misc:Depends}
Description: fty-kpi-power-uptime debugging symbols
 This package contains the debugging symbols for fty-kpi-power-uptime:
 compute data center uptime.
